<% -include('includes/head'); %>
<body>

  <section class="container">
    <h1>
      <% numeros.forEach(num => { %>
        <%= num  %> <br>
      <% });  %>
    </h1>
    <form action="/" method="Post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label>Cliente</label>
      <input type="text" name="cliente">
      <button>Submit</button>
    </form>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>